.contacts {
  padding-top: $section-padding-top;
}

.contacts__title {
  margin: 0;

  font-size: $title-size;
  font-weight: $font-weight-bold;
  line-height: $title-line-height;

  letter-spacing: $title-letter-spacing;

  text-align: center;
}

.contacts__groups {
  margin-top: $gap-large;
}

.contacts__group {
  margin-top: $gap-large;
}

.contacts__museum {
  margin: 0;

  font-size: $text-size;
  font-weight: $font-weight-bold;
  line-height: $text-line-height;
}

.contacts__label {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: $small-text-size;
  font-weight: $font-weight-normal;
  line-height: $text-line-height;
}

.contacts__info {
  display: block;

  margin-top: 0;
  margin-bottom: 0;

  font-size: $text-size;
  font-weight: $font-weight-bold;
  line-height: 140%;

  color: $color-black;

  text-decoration: none;
}

.contacts__info:hover {
  color: $color-main;
}

.contacts__form {
  display: flex;
  flex-direction: column;

  gap: 16px;

  margin-top: $gap-large;
}

.contacts__input,
.contacts__textarea {
  width: 100%;

  border: none;

  background-color: $color-input-bg;

  padding-left: 16px;

  font-size: $small-text-size;
  line-height: $small-text-line-height;

  color: $color-black;
}

.contacts__input {
  height: $input-height;
}

.contacts__textarea {
  height: $textarea-height;

  padding-top: 14px;

  resize: none;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
  color: $color-gray-light;
}

.contacts__input:hover,
.contacts__textarea:hover {
  border: 1px solid $color-input-hover;
}

.contacts__input:focus,
.contacts__textarea:focus {
  outline: none;

  border: 1px solid $color-black;
}

.contacts__button {
  height: $button-height;

  border: none;

  background-color: $color-main;

  color: $color-white;

  font-size: $text-size;
  font-weight: $font-weight-bold;

  cursor: pointer;

  transition: background-color $transition-duration;
}

.contacts__button:hover {
  background-color: $color-main-dark;
}

.contacts__button:active {
  background-color: $color-main-active;
}

@media (min-width: 768px) {
  .contacts__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-large;
  }

  .contacts__group {
    margin-top: 0;
  }

  .contacts__form {
    max-width: 50%;
  }
}
