.explore {
  padding-top: $section-padding-top;
}

.explore__title {
  margin: 0;

  font-size: $title-size;
  font-weight: $font-weight-bold;
  line-height: $title-line-height;

  letter-spacing: $title-letter-spacing;

  text-align: center;
}

.explore__cards {
  margin-top: 40px;
}

.explore__card {
  margin-top: $gap-large;
}

.explore__image {
  width: 100%;
  height: 277px;

  object-fit: cover;

  transition: transform $transition-duration;
}

.explore__card-title {
  margin-top: $gap-medium;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: $font-weight-bold;
  line-height: 140%;

  text-align: center;

  color: $color-main;
}

.explore__text {
  margin-top: 4px;
  margin-bottom: 0;

  font-family: $font-secondary;

  font-size: $text-size;
  font-weight: $font-weight-normal;
  line-height: $text-line-height;

  text-align: center;

  text-transform: none;
}

.explore__link {
  display: block;
  overflow: hidden;
}

.explore__image:hover {
  transform: scale(1.05);
}

@media (min-width: 1260px) {
  .explore__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-large;
  }
}
