.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  margin-top: $section-padding-top;

  height: 180px;

  background-image: url('/src/images/footer/background-footer.png');

  background-size: cover;
  background-position: center;
}
