.header {
  height: 100vh;

  background-image: url('/src/images/header/background-museum.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
}

.header__logo {
  font-size: $title-size;
  font-weight: $font-weight-bold;

  color: $color-white;

  text-decoration: none;
}

.header__actions {
  display: flex;

  gap: $gap-medium;
}

.header__icon {
  position: relative;
}

.header__icon[href^="tel"]::after {
  content: "+1 212-535-7710";
  position: absolute;
  right: 0;
  top: 30px;
  white-space: nowrap;
  color: $color-white;
  font-size: $small-text-size;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition-duration;
}

.header__icon[href^="tel"]:hover::after {
  opacity: 1;
}

.header__icon-image {
  width: 24px;
  height: 24px;
}

.header__title {
  margin-top: $section-padding-top;

  font-size: 40px;
  font-weight: $font-weight-bold;
  line-height: 40px;

  color: $color-white;

  text-align: center;
}
