.hours {
  padding-top: $section-padding-top;
}

.hours__subtitle {
  margin: 0;

  font-size: 12px;
  font-weight: $font-weight-bold;
  line-height: 140%;

  color: $color-main;
}

.hours__title {
  margin-top: 8px;
  margin-bottom: 0;

  font-size: $title-size;
  font-weight: $font-weight-bold;
  line-height: $title-line-height;

  letter-spacing: $title-letter-spacing;
}

.hours__museum {
  margin-top: 32px;
}

.hours__museum-title {
  margin: 0;

  font-size: 24px;
  font-weight: $font-weight-bold;
  line-height: 30px;
}

.hours__schedule {
  display: grid;

  grid-template-columns: 140px 1fr;

  column-gap: $gap-medium;

  margin-top: 16px;
}

.hours__time {
  margin: 0;

  font-size: $text-size;
  font-weight: $font-weight-bold;
  line-height: $text-line-height;

  white-space: nowrap;
}

.hours__days {
  margin: 0;

  font-size: $text-size;
  font-weight: $font-weight-normal;
  line-height: $text-line-height;

  white-space: nowrap;
}

.hours__closed-title {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: $text-size;
  font-weight: $font-weight-bold;
  line-height: $text-line-height;
}

.hours__closed-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: $text-size;
  font-weight: $font-weight-normal;
  line-height: $text-line-height;
}
