.menu {
  height: 100vh;

  background-color: $color-main;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1;

  opacity: 0;
  pointer-events: none;

  overflow: auto;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $color-main;
}

.menu__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;

  color: $color-white;
  text-decoration: none;
}

.menu__close {
  color: $color-white;
  text-decoration: none;
}

.menu__close-icon {
  width: 24px;
  height: 24px;
}

.menu__nav {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 24px;

  margin-top: 40px;
}

.menu__link {
  color: $color-white;

  font-size: $text-size;
  font-weight: 700;

  text-decoration: none;
}

.menu__contacts {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 12px;

  margin-top: 48px;
}

.menu__contacts a {
  color: $color-white;

  font-size: $small-text-size;
  font-weight: 700;
  line-height: 20px;

  text-decoration: none;
}

.menu__call {
  display: inline-block;

  margin-top: 16px;

  color: $color-white;

  font-size: 12px;
  font-weight: 700;

  text-decoration: none;

  border-bottom: 1px solid $color-white;

  padding-bottom: 8px;
}

.menu__link:hover {
  text-decoration: underline;

  text-underline-offset: 8px;
}
