* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: $font-main;

  text-transform: uppercase;
}

button,
input,
textarea {
  font: inherit;

  text-transform: inherit;
}
