// FONTES
$font-main: Cinzel, serif;
$font-secondary: Roboto, sans-serif;

// PESOS
$font-weight-bold: 700;
$font-weight-normal: 400;

// CORES
$color-main: #d12d35;
$color-main-dark: #ae1c23;
$color-main-active: #eb343d;
$color-black: #161616;
$color-white: #fff;
$color-gray: #3e3e3e;
$color-gray-light: #7e7e83;
$color-input-bg: #f8f8fa;
$color-input-hover: #d5d7de;

// TÍTULOS
$title-size: 32px;
$title-line-height: 32px;
$title-letter-spacing: -1.5px;

// TEXTO
$text-size: 16px;
$text-line-height: 27px;
$small-text-size: 14px;
$small-text-line-height: 20px;

// ESPAÇAMENTOS
$section-padding-top: 100px;
$gap-medium: 24px;
$gap-large: 48px;

// ALTURAS
$button-height: 56px;
$input-height: 48px;
$textarea-height: 144px;

// TRANSIÇÃO
$transition-duration: 0.3s;
